<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S. M. A. R. T. Application Form</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
</head>

<script>
</script>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-6 col-sm-12 shadow-lg p-5 bg-light">
                    <div class="text-center">
                        <h3 class="text-primary">Apply to Program</h3>
                    </div>
                    <form method="post" action="" onSubmit="">

                        <div class="row pt-4">
                            <div class="col-md-6">
                                <!--First Name-->
                                <div>
                                    <label>First Name:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary"><i
                                                class="bi bi-person-circle text-white"></i></span>
                                        <input id="applicantFirstName" name="applicantFirstName" type="text"
                                            class="form-control" placeholder="Jane">
                                    </div>
                                </div>

                                <!--Last Name-->
                                <div>
                                    <label>Last Name:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary"><i
                                                class="bi bi-person-circle text-white"></i></span>
                                        <input id="applicantLastName" name="applicantLastName" type="text"
                                            class="form-control" placeholder="Doe">
                                    </div>
                                </div>

                                <!--Date of Birth-->
                                <div>
                                    <label>Date of Birth:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary"><i
                                                class="bi bi-calendar-date text-white"></i></span>
                                        <input id="applicantDoB" name="applicantDoB" type="text" class="form-control"
                                            placeholder="MM/DD/YYYY">
                                    </div>
                                </div>

                                <!--Address-->
                                <div>
                                    <label>Address:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary"><i
                                                class="bi bi-house-door text-white"></i></span>
                                        <input id="applicantAddress" name="applicantAddress" type="text"
                                            class="form-control" placeholder="41°24'12.2&quot;N 2°10'26.5&quot;E">
                                    </div>
                                </div>

                                <!--Public School Level-->
                                <div>
                                    <label>Public School Level:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary"><i
                                                class="bi bi-mortarboard text-white"></i></span>
                                        <input id="applicantSchoolLevel" name="applicantSchoolLevel" type="text"
                                            class="form-control" placeholder="10">
                                    </div>
                                </div>

                                <!--Public School GPA-->
                                <div>
                                    <label>Public School GPA:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary"><i
                                                class="bi bi-mortarboard text-white"></i></span>
                                        <input id="applicantGPA" name="applicantGPA" type="text" class="form-control"
                                            placeholder="15">
                                    </div>
                                </div>

                                <!--Contact Information-->
                                <div>
                                    <label>Contact Information (optional):</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary"><i
                                                class="bi bi-telephone text-white"></i></span>
                                        <input id="applicantContact" name="applicantContact" type="text" class="form-control"
                                            placeholder="123-456-7890">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!--Guardian-->
                                <div>
                                    <label>Parent / Guardian:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary"><i
                                                class="bi bi-person-circle text-white"></i></span>
                                        <input id="applicantGuardian" name="applicantGuardian" type="text" class="form-control"
                                            placeholder="Janet Doe">
                                    </div>
                                </div>

                                <!--Guardian Income-->
                                <div>
                                    <label>Parent / Guardian Annual Income:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary"><i
                                                class="bi bi-cash text-white"></i></span>
                                        <input id="applicantGuardianIncome" name="applicantGuardianIncome" type="text" class="form-control"
                                            placeholder="MT 20,000">
                                    </div>
                                </div>

                                <!--Transportation Assistance Radio Buttons-->
                                <div class="p-2">
                                    <label>Do you need Transportation Assistance?</label>
                                    <div class="input-group mb-1">
                                        <div class="form-check mx-1">
                                            <input class="form-check-input" type="radio" name="transportAssistRadio"
                                                id="noTransportAssist" checked value="false">
                                            <label class="form-check-label" for="transportAssistRadio">
                                                No
                                            </label>
                                        </div>
                                        <div class="form-check mx-1">
                                            <input class="form-check-input" type="radio" name="transportAssistRadio"
                                                id="yesTransportAssist" value="true">
                                            <label class="form-check-label" for="transportAssistRadio">
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <!--Meal Assistance Radio Buttons-->
                                <div class="p-2">
                                    <label>Do you need Meal Assistance?</label>
                                    <div class="input-group mb-1">
                                        <div class="form-check mx-1">
                                            <input class="form-check-input" type="radio" name="mealAssistRadio"
                                                id="noMealAssist" checked value="false">
                                            <label class="form-check-label" for="mealAssistRadio">
                                                No
                                            </label>
                                        </div>
                                        <div class="form-check mx-1">
                                            <input class="form-check-input" type="radio" name="mealAssistRadio"
                                                id="yesMealAssist" value="true">
                                            <label class="form-check-label" for="mealAssistRadio">
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="p-2">
                                    <label for="applicantShortEssay" class="form-label">Why do you Want to Enroll in the Program?</label>
                                    <textarea class="form-control" id="applicantShortEssay" rows="7"></textarea>
                                  </div>

                            </div>
                        </div>

                        <div class="text-center">
                            <p id="message" class="text-danger" style="height:25px">
                                <%- locals.message %>
                            </p>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary mt-2" type="submit">
                                Submit Application
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>