<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S. M. A. R. T. Assignment Overview</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
</head>

<script>
</script>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-6 col-sm-12 shadow-lg p-5 bg-light">

                    <div class="row">
                        <div class="col px-5">
                            <button class="btn btn-primary mt-2 float-end">
                                Edit Assignment
                            </button>
                        </div>
                    </div>

                    <div class="text-center pb-4">
                        <h3 class="text-primary">Assignment Overview</h3>
                    </div>

                    <div class="col-md-5 pb-4">
                        <h3 class="text-primary">Week 1 Vocab</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>
                                        <b>Due Date: </b>10/21/2022
                                    </p>
                                    <p>
                                        <b>Points Possible: </b>10
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                        <b>Description: </b>
                                    </p>
                                    <p>
                                        Write down this week's vocab words and their definitions
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>