<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S. M. A. R. T. Certificate</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
    <%- include('partials/favico') %>
</head>

<script>
</script>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-6 col-sm-12 shadow-lg p-5 bg-light">

                    <div class="text-center pb-4">
                        <h2 class="text-primary">Certificate of Proficiency</h3>
                    </div>

                    <div class="col-md-10 pb-4 mx-auto text-center">
                        <h4 style="display:inline" class="text-primary">Jane Doe</h4>
                        <h4 style="display:inline" >has successfully completed the proficiency requirements for</h4>
                        <h4 style="display:inline"  class="text-primary">English 3</h4>
                    </div>

                    <div class="row pt-4">
                        <div class="col-md-12 mx-auto text-center">
                            <div class="col-md-6 float-start">
                                <p>
                                    <b>Certificate Awarded By: </b>John Doe
                                </p>
                            </div>
                            <div class="col-md-6 float-end">
                                <p>
                                    <b>Certification Date: </b>12/19/2022
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>