<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>S. M. A. R. T. Confirmation</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css">
</head>

<body>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">

          <div style="text-align:center"><h1>Confirmation</h1></div>
          <div class="text-center">
            <p id="message" class="text-primary" style="height:25px">
                <%- locals.message %>
            </p>
          </div>

          <div class="text-center">
            <a href="/">
              <button class="btn btn-primary mt-2">
                Next
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>