<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feedings</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css">
  <%- include('partials/favico') %>
  <script>
    // Set the date pickers date to today
    function loadStartDate() {
      let datePicker = document.getElementById("datePicker");
      datePicker.valueAsDate = new Date();

      // Add event listener to all feedings
      let elements = document.querySelectorAll(".feeding-button");
      console.log(elements);

      // Cannot use a for-in loop for some resons.
      // Assign the event listener to the label for each feeding
      for (let i = 0; i < elements.length; i++) {
        // https://stackoverflow.com/questions/4957207/how-to-check-uncheck-radio-button-on-click
        elements[i].addEventListener("mousedown", function(e) {

          // Since we are getting the label in the event listener we need to get the coresponding input element
          let self = document.getElementById(this.getAttribute("for"));

          // When check trigger
          if (self.checked) {

            // Store the the value in a attribue so we can tell the value in the async code
            // This allows the user to click the button more than once without having to leave the button
            self.setAttribute("data-checked", self.checked);

            let unchecked = function() {
              setTimeout(function() {
                if (self.getAttribute("data-checked") == "true") {
                  self.checked = false;
                  self.setAttribute("data-checked", self.checked);
                }
              }, 0);
            };

            let unbind = function() {
              this.removeEventListener("mouseup", up, true);
              this.removeEventListener("mouseleave", unbind, true);
            };

            let up = function(event) {
              unchecked();
              unbind();
            };

            this.addEventListener("mouseup", up);
            this.addEventListener("mouseleave", unbind);
          }
        }, false);
      }
    }
  </script>
</head>

<body onload="loadStartDate()">
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-8 col-sm-12 shadow-lg p-5 bg-light">
          <%- include('partials/backbutton') %>
          <div style="text-align:center">
            <h1>Feedings</h1>
          </div>
          <div class="row">
            <form action="" method="post" id="form" class="d-flex">
              <div class="me-auto ms-auto">
                <input type="date" id="datePicker" class="form-control" name="feed-date" min="1970-01-01" max="9999-12-31">

                <select type="select" id="mealPicker" class="form-select" name="meal-time">
                  <%if(locals.meal_times != undefined || locals.meal_times != null) {
                    meal_times.forEach(meal_time => {
                      const firstLetter = meal_time.time.charAt(0)
                      const firstLetterCap = firstLetter.toUpperCase()
                      const remainingLetters = meal_time.time.slice(1)
                      const capitalizedWord = firstLetterCap + remainingLetters
                    %>
                    <option value="<%=meal_time.meal_time_id%>"><%=capitalizedWord%></option>
                  <%});
                }%>
                </select>
              </div>
            </form>
          </div>
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">
                  <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off">
                  <label class="btn btn-outline-success feeding-button" for="success-outlined"><i class="bi bi-check-square-fill"></i></label>

                  <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
                  <label class="btn btn-outline-danger feeding-button" for="danger-outlined"><i class="bi bi-x-square-fill"></i></label>
                  <span>Meal</span>
                </th>
                <th scope="col">Mon<br>04/03</th>
                <th scope="col">Tue<br>04/04</th>
                <th scope="col">Wed<br>04/05</th>
                <th scope="col">Thu<br>04/06</th>
                <th scope="col">Fri<br>04/07</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Efua Keita</td>
                <td>Breakfast</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td>Kwame Omer</td>
                <td>Breakfast</td>
                <td>Present</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>Present</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td>Zola Isah</td>
                <td>Breakfast</td>
                <td>N/A</td>
                <td>Absent</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>N/A</td>
                <td>Absent</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td>Oluchi Yao</td>
                <td>Breakfast</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Present</td>
                <td>Present</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Present</td>
                <td>Present</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td>Precious Omar</td>
                <td>Breakfast</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td>Hadiza Ngoy</td>
                <td>Breakfast</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td>Chidinma Sani</td>
                <td>Breakfast</td>
                <td>Absent</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Absent</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>Absent</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Absent</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td>Taraji Domingos</td>
                <td>Breakfast</td>
                <td>Present</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>Present</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>