<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feedings</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css">
  <%- include('partials/favico') %>
  <script type="text/javascript" src="crypto-js.js"></script>
</head>

<body>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 w-75 shadow-lg p-5 bg-light">
          <div style="text-align:center"><h1>Feedings</h1></div>
          <div class="d-inline">
            <div class="float-start"><button class="btn btn-primary mt-2">Previous week</button></div>
            <div class="float-end"><button class="btn btn-primary mt-2">Next week</button></div>
          </div>
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Meal</th>
                <th scope="col">Mon<br>04/03</th>
                <th scope="col">Tue<br>04/04</th>
                <th scope="col">Wed<br>04/05</th>
                <th scope="col">Thu<br>04/06</th>
                <th scope="col">Fri<br>04/07</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Efua Keita</td>
                <td>Breakfast</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td>Kwame Omer</td>
                <td>Breakfast</td>
                <td>Present</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>Present</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td>Zola Isah</td> 
                <td>Breakfast</td>
                <td>N/A</td>
                <td>Absent</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>N/A</td>
                <td>Absent</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td>Oluchi Yao</td>
                <td>Breakfast</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Present</td>
                <td>Present</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Present</td>
                <td>Present</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td>Precious Omar</td>
                <td>Breakfast</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td>Hadiza Ngoy</td>
                <td>Breakfast</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
                <td>Present</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td>Chidinma Sani</td>
                <td>Breakfast</td>
                <td>Absent</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Absent</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>Absent</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Absent</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td>Taraji Domingos</td>
                <td>Breakfast</td>
                <td>Present</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
              <tr>
                <td></td>
                <td>Lunch</td>
                <td>Present</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>=====</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>