<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S. M. A. R. T. Gradebook</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
    <%- include('partials/favico') %>
</head>

<script>
</script>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-5 col-sm-12 shadow-lg p-5 bg-light">

                    <div class="text-center pb-4">
                        <h3 class="text-primary">Course Gradebook</h3>
                    </div>

                    <div class="col-md-5 pb-2">
                        <h3 class="text-primary">English 3</h3>
                        <h5>John Doe</h5>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-4">
                            <div class="row mb-4 p-2 shadow-sm rounded border border-primary ">
                                <h3 class="text-primary">Jane Doe</h3>
                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="col-6">
                                        <h5 class="text-primary">Week 1 Vocab</h5>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="text-primary">10/10</h5>
                                    </div>
                                </div>

                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="col-6">
                                        <h5 class="text-primary">Week 1 Quiz</h5>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="text-primary">9/10</h5>
                                    </div>
                                </div>

                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="col-6">
                                        <h5 class="text-primary">Week 2 Vocab</h5>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="text-primary">12/12</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4 p-2 shadow-sm rounded border border-primary ">
                                <h3 class="text-primary">Jennifer Doe</h3>
                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="col-6">
                                        <h5 class="text-primary">Week 1 Vocab</h5>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="text-primary">10/10</h5>
                                    </div>
                                </div>

                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="col-6">
                                        <h5 class="text-primary">Week 1 Quiz</h5>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="text-primary">8/10</h5>
                                    </div>
                                </div>

                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="col-6">
                                        <h5 class="text-primary">Week 2 Vocab</h5>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="text-primary">12/12</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>