<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instructor Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css">
  <%- include('partials/favico') %>
  <script type="text/javascript" src="crypto-js.js"></script>
  <script>
    function selectClass(crn, row) {
      // Make rows change when clicked
      let table = document.getElementById("table");
      for (let row of table.rows) {
        row.classList.remove("table-primary");
      }
      row.classList.add("table-primary");

      // enable the buttons
      let btns = document.getElementsByClassName("btn btn-primary mt-2");
      for (let i = 0; i < btns.length; i++) {
        btns[i].disabled = false;
      }
    }
  </script>
</head>
<!--(list of classes, then attendance, assignments etc)-->
<body>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
          <div style="text-align:center"><h1>Instructor Dashboard</h1></div>
          <button class="btn btn-primary mt-2" disabled>Attendance</button>
          <button class="btn btn-primary mt-2" disabled>Grades</button>
          <table id="table" class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">Subject</th>
                <th scope="col">CRN</th>
              </tr>
            </thead>
            <tbody>
              <tr onclick="selectClass(2237, this)">
                <td>English 1</td>
                <td>2237</td>
              </tr>
              <tr onclick="selectClass(2026, this)">
                <td>English 1</td>
                <td>2026</td>
              </tr>
              <tr onclick="selectClass(3153, this)">
                <td>English 2</td>
                <td>3153</td>
              </tr>
              <tr onclick="selectClass(5038, this)">
                <td>IT 3</td>
                <td>5038</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>