<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S. M. A. R. T. Landing</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
    <%- include('partials/favico') %>
</head>

<script>
</script>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-6 col-sm-12 shadow-lg p-5 bg-light">
                    <div class="row">
                        <div class="col px-5">
                            <button class="btn btn-primary mt-2 float-end">
                                Login
                            </button>
                        </div>
                    </div>

                    <div class="text-center pb-4">
                        <h1 class="text-primary">S. M. A. R. T.</h1>
                        <h3 class="text-primary">Student Management and Academic Reporting Tool</h3>
                    </div>

                    <div class="row pt-4">
                        <div class="col-md-5 mx-auto p-2 rounded border border-primary">
                            <h4 class="text-primary text-center">Apply for Enrollment</h4>

                            <p class="p-4">
                                Our program offers three levels of English and IT courses for young Mozambican women.
                                Classes are scheduled to complement public school class schedules. Transportation and
                                meal assistance provided as needed.
                            </p>

                            <div class="text-center">
                                <button class="btn btn-primary mt-2">
                                    Apply Now
                                </button>
                            </div>
                        </div>

                        <div class="col-md-5 mx-auto p-2 rounded border border-primary">
                            <h4 class="text-primary text-center">Sponsor a Student</h4>

                            <p class="p-4">
                                Extend a helping hand and sponsor a student in our program. By becoming a sponsor, you
                                are supporting a young Mozambican woman in furthering her education.
                            </p>

                            <div class="text-center">
                                <button class="btn btn-primary mt-2">
                                    More Information
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>