<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
    <title>Owner Dashboard</title>
  </head>
  <body>
    <div class="container-fluid vh-100" style="margin-top: 10px">
      <div class="" style="margin-top: 100px">
        <div class="rounded d-flex justify-content-center">
          <div class="col-md-6 col-sm-12 shadow-lg p-5 bg-light">
            <div class="text-center">
              <h3 class="text-primary">Owner Dashboard</h3>
            </div>
            <!-- Start Seach Student -->
            <div class="row d-flex align-items-center">
                <div class="col-12">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter Student Name, Number">
                        <span class="input-group-text">
                            <i class="bi bi-search"></i>
                            </span>
                    </div>  
                </div>
            </div>
            <!-- End Seach Student -->
            <!-- Start Report Section -->
            <div class="d-flex flex-column mt-2">
                <a class="btn btn-primary me-auto mt-1 mb-1" href="#" role="button">Generate Student Report</a>
                <a class="btn btn-primary me-auto mt-1 mb-1" href="#" role="button">Generate Program Statistics Report</a>  
            </div>
            <!-- End Report Section -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
