<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>People list</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css">
  <script type="text/javascript" src="crypto-js.js"></script>
</head>

<body>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
          <div style="text-align:center"><h1>Results</h1></div>
          <h5 style="text-align:center;">All Active Students</h5><br>
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">Student Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Efua Keita</td>
              </tr>
              <tr>
                <td>Kwame Omer</td>
              </tr>
              <tr>
                <td>Zola Isah</td> 
              </tr>
              <tr>
                <td>Oluchi Yao</td>
              </tr>
              <tr>
                <td>Precious Omar</td>
              </tr>
              <tr>
                <td>Hadiza Ngoy</td>
              </tr>
              <tr>
                <td>Chidinma Sani</td>
              </tr>
              <tr>
                <td>Taraji Domingos</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>