<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Worker Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css">
  <%- include('partials/favico') %>
  <script type="text/javascript" src="crypto-js.js"></script>
</head>

<body>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 w-75 shadow-lg p-5 bg-light">
          <div class="row">
            <div class="col px-5">
              <button onclick="location.href = '/logout';" class="btn btn-primary mt-2 float-end">
                Logout
              </button>
            </div>
          </div>
          <div style="text-align:center">
            <h1>Social Worker Dashboard</h1>
          </div>
          <div class="justify-content-center">
            <h3 style="text-align: center;">Students</h3><br>
            <table class="table table-striped table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">Student Name</th>
                </tr>
              </thead>
              <tbody>
                <% if(locals.students != null || locals.students != undefined) { 
                    students.forEach(student => {%>
                <tr>
                  <td><%= student.first_name + " " + student.last_name %></td>
                </tr>
                <% });
                } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>