<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S. M. A. R. T. Student Overview</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
</head>

<script>
</script>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-8 col-sm-12 shadow-lg p-5 bg-light">

                    <div class="row">
                        <div class="col px-5">
                            <button class="btn btn-primary mt-2 float-end">
                                Edit Student
                            </button>
                        </div>
                    </div>

                    <div class="text-center pb-4">
                        <h3 class="text-primary">Student Overview</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <img src="images/sample_student_photo.jpg" class="img-thumbnail rounded img-fluid">
                        </div>

                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <b>Name: </b>Jane Doe
                                    </p>
                                    <p>
                                        <b>Contact Information: </b>123-456-7890
                                    </p>
                                    <p>
                                        <b>Address: </b>41°24'12.2&quot;N 2°10'26.5&quot;E
                                    </p>
                                    <p>
                                        <b>Guardian: </b>Janet Doe
                                    </p>
                                    <p>
                                        <b>Guardian Income: </b>MT 20,000
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <b>Transportation Assistance: </b>No
                                    </p>
                                    <p>
                                        <b>Meal Assistance: </b>Yes
                                    </p>
                                    <p>
                                        <b>Status: </b>Graduated
                                    </p>
                                    <p>
                                        <b>Public School Grade Level: </b>12
                                    </p>
                                    <p>
                                        <b>Public School GPA: </b>15
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mt-4">
                            <h3 class="text-primary">Courses</h3>
                            <div class="row mt-2 p-2 shadow-sm rounded border border-primary ">
                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="col-4">
                                        <h5 class="text-primary">Fall 2022</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="text-primary">English 3</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="text-success">Passed</h5>
                                    </div>
                                </div>

                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="col-4">
                                        <h5 class="text-primary">Fall 2022</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="text-primary">IT 3</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="text-success">Passed</h5>
                                    </div>
                                </div>

                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="col-4">
                                        <h5 class="text-primary">Summer 2022</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="text-primary">IT 3</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="text-danger">Failed</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 mt-4 mx-auto">
                            <div class="row">
                                <h3 class="text-primary col-md-8">Social Notes</h3>
                                <button class="btn btn-primary pt-2 float-end col-md-4">
                                    New Note
                                </button>
                            </div>
                            <div class="row mt-2 p-2 shadow-sm rounded border border-primary ">
                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="col-4">
                                        <h5 class="text-primary">10/21/2022</h5>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="text-primary">This is a sample note</h5>
                                    </div>
                                </div>

                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="col-4">
                                        <h5 class="text-primary">3/14/2022</h5>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="text-primary">This is a sample note</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</body>

</html>