<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S. M. A. R. T. Student Schedule</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
    <%- include('partials/favico') %>
</head>

<script>
</script>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-8 col-sm-12 shadow-lg p-5 bg-light">

                    <div class="row">
                        <div class="col px-5">
                            <button class="btn btn-primary mt-2 float-end">
                                Edit Schedule
                            </button>
                        </div>
                    </div>

                    <div class="text-center pb-4">
                        <h3 class="text-primary">Schedule for Jane Doe</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            <h3 class="text-primary">Courses</h3>
                            <div class="row mt-2 p-2 shadow-sm rounded border border-primary ">
                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="row">
                                        <div class="col-4">
                                            <h5 class="text-primary">English 2</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5><b>Teacher: </b>John Doe</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5><b>Semester: </b>Spring 2023</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <h5><b>Meeting Times: </b> Tuesday, Thursday | 2:00 PM - 4:00 PM</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5><b>Meeting Place: </b>Room 7</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="row">
                                        <div class="col-4">
                                            <h5 class="text-primary">IT 1</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5><b>Teacher: </b>Nathan Doe</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5><b>Semester: </b>Spring 2023</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <h5><b>Meeting Times: </b> Monday, Wednesday | 10:00 AM - 12:00 PM</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5><b>Meeting Place: </b>Room 3</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</body>

</html>